Cannot send internationalized email address / non ASCII characters

#### Issue Summary

I cannot send an email to an address with non ASCII characters.

Example email: `pepé@lefrenchplace.com`

Gmail web interface works fine to send so the test email address is set up fine.

Using SendGrid, Non ASCII characters work fine in subject line and message body.

Relevant standard: [RFC6530](https://tools.ietf.org/html/rfc6530), [RFC6531](https://tools.ietf.org/html/rfc6531), [RFC6532](https://tools.ietf.org/html/rfc6532)

#### Steps to Reproduce

SMTP throws an `SMTPException` with the message `The client or server is only configured for E-mail addresses with ASCII local-parts: pepé@lefrenchplace.com`

```
var smtp = new SmtpClient(Server)
{
    Credentials = new NetworkCredential(Username, ApiKey),
    DeliveryFormat = SmtpDeliveryFormat.International
};

var message = new MailMessage(From, To)
{
    Subject = Subjet,
    Body = BodyPlainText
};

smtp.Send(message);
```

Using the [V3 API example](https://sendgrid.com/docs/Integrate/Code_Examples/v3_Mail/csharp.html) I get an `Accepted` status code returned. On the SendGrid dashboard it shows as Dropped with Invalid as the reason.

#### Technical details:

* sendgrid-csharp Version: 9.9.0
* Platform WebForms
* .NET Version: 4.6.1


Thanks for reporting this @thatpoordev,

Currently, we do not support ASCII local parts. 

I have passed along this issue to our product team for further consideration. I will leave this ticket open as more votes on this issue helps with prioritization.

With Best Regards,

Elmer

> Currently, we do not support ASCII local parts.

Just to confirm, is this a limitation with the C# library, or SendGrid as a whole?

Hi @thatpoordev,

It's a SendGrid limitation. However, it is definitely on the radar but I don't have any time commitment.

Hi @thinkingserious,

Any update on when/if there will be support for sending emails to addresses with non ASCII local parts through Sendgrid?

We have a customer with a few email addresses that we currently are unable to send emails to through Sendgrid.

Kind regards
Daniel

Hello @Almquist,

There are no updates just yet, I recommend reaching out with your request using the feedback link at sendgrid.com to help bring more attention to the issue.

Thanks!

With Best Regards,

Elmer

Hi @thinkingserious,
thanks for your update. 
No offense, but sendgrid is kind of in the business of sending emails, right? Would be great if actual email addresses were supported. Couldn't find the feedback link, btw. 
Best, Florian

Thanks for the additional vote @hillerf!

There should be a blue feedback button on the right of your browser when you login. Perhaps you have an ad blocker that is hiding it. 

With Best Regards,

Elmer

Hi!

We've also run into this problem. Some of our users have names with non ascii characters in them and they can't use their email addresses. I don't mean to be rude but it is kind of weird to have an email service that can't deliver emails to valid email addresses.

Thanks for taking the time to report this @leogiertz!

Please take a moment to use the feedback link at sendgrid.com to help bring more attention to the issue.

@thinkingserious 

Any update on this, we've just run in to this issue ourselves? I've already gone ahead and submitted feedback.


Also having this issue. Trying to send an email containing 'Mejía' in the ReplyTo.

After contacting SendGrid they have effectively said that they will not fix this issue, we have to remove the Unicode characters ourselves. We have implemented the answer from this Stack Overflow question and it covers most cases. Hopefully this is useful for anyone else finding this ticket.

https://stackoverflow.com/questions/249087/how-do-i-remove-diacritics-accents-from-a-string-in-net

@JWilliams-CINC removing/replacing characters results in a different email address. A different email address that possibly doesn't exist or if it does, is owned by another person.

Also experiencing this problem. Clearly they must have some code debt that makes it difficult to resolve, I understand the pain, but it is indeed necessary to resolve.

We are also experiencing problems with valid email addresses not accepted by SendGrid. Does SendGrid provide a regexp to filter out addresses that are not accepted? Is there a list of characters/combinations that are not accepted?

@lawhi The best approach for us was to just switch to AWS SES. 

@mrsweaters
Did AWS SES works with non-asci characters in the email address? I am particularly interested in knowing whether an email address with single quotes in the name part works or not.

It seems that we are also running into this issue

`'The client or server is only configured for E-mail addresses with ASCII local-parts: düsseldorf@düsseldorf.com.'

@thinkingserious are you supporting non ASCII characters in email addresses yet?

@nisarmv We don't have any more issues with non-ascii characters after switching to AWS SES.

Latest reply from SendGrid support

> I understand you are having issues when sending to recipient addresses with non-ASCII characters. Unfortunately, currently we do not support email addresses with non-ASCII characters. This is a hard limitation on our end.

Wow. Emailadresses with non-ASCII are valid email addresses and they are actually being used by the users of our software. I cannot sell to our customers that they cannot mail out.

@thinkingserious This issue was brought up almost 2 years ago for the first time and it touches the core of what you guys do for us: **Send email in a reliable way**. 

Can we please get a deadline on when this pretty serious shortcoming will be fixed?

> 
> 
> Can we please get a deadline on when this pretty serious shortcoming will be fixed?

@toul The last thing my product person was able to get from our SendGrid contacts was that they refused to address the issue.

Will this issue ever get solved? There is a surprising amount of people with these kinds of chars in their email addresses

I've been in touch with Sendgrid several times regarding this over the last few years (we send billions of emails via their services). They respond politely, but nothing happens. 

C'mon, guys. You deliver email. It's all you do. You've got one job. You _have_ to be good at it. You have to do it right. Do it.

+1

I got an answer from SendGrid Tier 2 support on June 17, 2020, unfortunately it is not very helpful.

> Please note that we do not currently support non-ASCII characters in email addresses, for which I apologize as I can absolutely understand it is a big pain point.

> SendGrid's allowed character set is US-ASCII.

> Please note that encoding is not a good solution for this issue, our sincere apologies for any confusion or frustration. Our teams are aware of the customer demand for this enhancement and are working on plans to include the ability. Unfortunately, we're unable to provide an estimated time of rollout for this, but the definitive answer is that yes: SendGrid is committed to addressing this issue.


+1 

Hi Team,

Even we are also facing the same issue where some users having non ASCII characters are not receiving emails from SendGrid.
SendGrid is throwing an exception as mentioned in attached screenshot.
![image](https://user-images.githubusercontent.com/40593813/90524979-5969d300-e18c-11ea-87d9-b652509ddc6f.png)


Closing as this is not something that can be fixed in this library.

Support and back-end product teams use support tickets to track customer impact and **do not** rely on nor check GitHub. Recommend anyone experiencing this issue [contact support](https://support.sendgrid.com/hc/en-us) in order to help drive the issue.

Switched to another email sender, crap team.

it's been 3 years, any update/progress/release plan for this issue?

Hello @ftamin,

Could you please add your voice via [this link](https://support.sendgrid.com/hc/en-us). Thank you!

> Hello @ftamin,
> 
> Could you please add your voice via [this link](https://support.sendgrid.com/hc/en-us). Thank you!

I would appreciate to follow this whole discussion in the open and don't understand why this issue was closed in the first place.

None of my contact attempts with the help desk felt like they were useful. This concerns a crucial shortcoming to your service that hasn't been resolved.

Like @ftamin wrote; It's been 3 years. What are you going to do?

In January, 2017, Len Schneyder, VP of Industry Relations at Sendgrid, had this to say:

"I'm really excited about this thing called SMTPUTF8 and it really, right now, affects a miniscule portion of the marketplace. But ideologically, it's the democratization of, or the further localization of, email...It will make email more accessible to more people, in more places."

“We’re kind of trying to track and see how many, if any, of those UTF8 addresses are winding up flowing through our networks”

It's June 2021, and Sendgrid still doesn't support SMTPUTF8. And they won't see any such addresses flowing through their networks, since they actively reject them.

I think it's fair to say that they're not working on this at all. We're sending several billion emails through Sendgrid each year and have brought up the issue many times. Nothing happens. We're actively pursuing a switch now.


Internal Reference: MP-6847

@tuol, @gliljas,

Thank you for the additional context! 

The issue has been closed as it does not relate to this helper library. That said, we will circle back and update this thread as new information is uncovered. Thank you!

still we are not able to send internationalized email address


We recently started to use SendGrid because someone recommended SG as a reliable provider. It's now been almost four full years, since this issue was raised in this thread, for something so simple to fix and has such an inpact. With something so simple, taking so fricking long to fix, how long will more complex issues take? 

Any possibility that this will be fixed at all, or do we have to look for a company that actually cares about doing the _one_ job they claim to do - send emails?

It's been 6.5 years since the original post, I see sendgrid still hasn't implemented this feature.  Is there any way to still get the emails through?  IDN encoding?

Unfortunately, no. IDN just applies to the domain part. It's not unlikely that an email with diacritics is also aliased without them (e.g. both "pepé" and "pepe"), but there's no guarantee and that address could even belong to someone else.

Facing this issue and it does not seem there has been a solution for years.

They won't fix it until they find a smart intern who can fix it. Maybe they miss the dollar signs

It's now supported. 8 years later.

https://www.twilio.com/en-us/changelog/support-for-utf-8-email-addresses
